.breweries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem 2rem;
}
.error {
    position: relative;
    top: 5rem;
    width: 13rem;
    padding: 2rem 3rem;
    background-color: #ff12126e;
    border-radius: 4px;
    display: flex;
}