.breweries-card {
    padding: 1rem;
    border: 1px solid grey;
    background-color: #686767bf;
    margin: 1rem;
    cursor: pointer;
    width: 16rem;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
}
.breweries-card__selected {
    padding: 2rem 3rem;
    border: 1px solid grey;
    background-color: #686767bf;
    margin: 1rem;
    height: 8rem;
    border-radius: 3px;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 2rem;
}
.breweries-card__title {
    color: #d5d5d5;
    font-size: 15px;
    margin-bottom: 6px;
}
.breweries-card__information {
    font-size: 12px;
    max-width: fit-content;
    display: flex;
    letter-spacing: 0.9px;
    color: #1d1d1d;
}
.goBack {
    position: relative;
    top: 2rem;
    cursor: pointer;
    width: 10rem;
}
